<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoUsuarios tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoUsuarios').DataTable();
		if ( $(this).hasClass('selected') ) {
        $("#editarUsuario").attr("disabled","disabled");
        $("#usuarioResetPass").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
        $("#editarUsuario").removeAttr("disabled");
        $("#usuarioResetPass").removeAttr("disabled");
		}
	});

</script>

	<div class="row" style="padding-left: 20pt; padding-right: 20pt;">
				<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
						<span style="color: gray;" class="fas fa-user-friends">&nbsp;&nbsp;Listado de usuarios</span>
					</font>
			  </div>
				<div id="divTablaListadoUsuarios" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
				  <table id="tablaListadoUsuarios" class="cell-border compact" style="width: 100%;">
				    <thead>
				      <tr>
								<th class="celdaColor" style="border: 1pt solid white;">S</th>
				      	<th class="celdaColor" style="border: 1pt solid white;">Rut</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
				        <th class="celdaColor" style="border: 1pt solid white;">E-Mail</th>
				        <th class="celdaColor" style="border: 1pt solid white;">Perfil</th>
						<th class="celdaColor" style="border: 1pt solid white;">Estado</th>
				      </tr>
				    </thead>
				    <tbody id="cuerpoTablaListadoUsuarios" style="text-align: left;">

				    </tbody>
				  </table>
				</div>
      <!-- Botones -->
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
			<button class="form-control btn btn-secondary botonComun" id="agregarUsuario">
				<span class="fas fa-user-plus"></span>&nbsp;&nbsp;Crear Usuario
			</button>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
				<button class="form-control btn btn-secondary botonComun" id="editarUsuario" disabled>
					<span class="fas fa-user-edit"></span>&nbsp;&nbsp;Editar
				</button>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
				<button class="form-control btn btn-secondary botonComun" id="usuarioResetPass" disabled>
					<span class="fas fa-user-lock"></span>&nbsp;&nbsp;Resetear Contraseña
				</button>
			</div>
			<!--<div id="divMostrarTodosUsuarios" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 8pt;">
					<label>Mostrar:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<select class="form-control custom" type="text" name="mostrarTodosUsuarios" id="mostrarTodosUsuarios">
          	<option value="Activos" selected>Activos</option>
						<option value="Bloqueados">Bloqueados</option>
          </select>
				</div>
      </div>-->
    </div>
