<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-headset">&nbsp;&nbsp;OT DTH</span>
		</font>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Región</label>
		<select id="regionOtDTH" class="form-control" title="Región">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Comuna</label>
		<select id="comunaOtDTH" class="form-control" title="Comuna">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Tipo</label>
		<select id="origenOtDTH" class="form-control" title="Tipo">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Tipo Ticket</label>
		<select id="tticketOtDTH" class="form-control" title="Tipo Ticket">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">F. Agenda</label>
		<select id="fechaCompOtDTH" class="form-control" title="F. Compromiso">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Rango</label>
		<select id="rangoOtDTH" class="form-control" title="Rango">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
		<label class="labelComun">Despacho</label>
		<select id="despachoOtDTH" class="form-control" title="Despacho">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Estado</label>
		<select id="estadoOtDTH" class="form-control" title="Estado">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Semaforo</label>
		<select id="semafotoOtDTH" class="form-control" title="Semaforo">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Reagendamiento</label>
		<select id="reagendamientoOtDTH" class="form-control" title="Reagendamiento">
		</select>
  </div>
	<!-- <div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Centro de costo</label>
		<select id="cecoPersonalInterno" class="form-control" title="Centro de costo">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Estado RRHH</label>
		<select id="estadoPersonalInterno" class="form-control" title="Estado personal">
		</select>
  </div> -->
	<div id="divTablaOtDTH" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaOtDTH" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Seleccionar">S</th>
	      	<th class="celdaColor" style="border: 1pt solid white;" title="Folio">Folio</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Tipo" >Tipo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Tipo Ticket" >Tipo Ticket</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado Mandante" >Estado Mandante</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Estado" >Estado</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="F. Creacíón" >F. Creacíón</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="F. Agenda" >F. Agenda</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="H. Agenda" >H. Agenda</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Rango">Rango</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Dias" >Dias</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Días Agenda">Días Agenda</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Reagendamiento">Reagendamiento</tH>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Región">Región</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Comuna" >Comuna</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Dirección" >Dirección</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="RUT" >RUT</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Cliente" >Cliente</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Fono1" >Fono1</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Fono2" >Fono2</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Despacho" >Despacho</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Técnico" >Técnico</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Observación" >Obs.</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Referencia" >Ref.</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Referencia" >Referencia</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Observación" >Observación</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Calle" >Calle</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Número" >Número</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Semaforo" >Semaforo</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaOtDTH" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button class="form-control btn btn-secondary botonComun" id="agregarOTDTH">
			<span class="far fa-plus-square"></span>&nbsp;&nbsp;Ingresar OT Manual
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="agendarOTDTH">
			<span class="far fa-calendar-check"></span>&nbsp;&nbsp;Agendar OT
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="asignarDespachoOTDTH">
			<span class="fas fa-headset"></span>&nbsp;&nbsp;Asignar Despacho
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="asignarTecnicoOTDTH">
			<span class="fas fa-user-alt"></span>&nbsp;&nbsp;Asignar Técnico
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="estadoOTDTH">
			<span class="far fa-edit"></span>&nbsp;&nbsp;Estado
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="liquidarOTDTH">
			<span class="fas fa-check-double"></span>&nbsp;&nbsp;Liquidar
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="observacionOTDTH">
			<span class="fas fa-pencil-alt"></span>&nbsp;&nbsp;Observación
		</button>
	</div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
	$('#tablaOtDTH tbody').on( 'click', 'tr', function () {
		setTimeout(async function(){
			var table = $('#tablaOtDTH').DataTable();
			var datos = table.rows('.selected').data();
			if(table.rows('.selected').data().length === 1){
				$("#agendarOTDTH").removeAttr("disabled");
				$("#asignarDespachoOTDTH").removeAttr("disabled");
				$("#asignarTecnicoOTDTH").removeAttr("disabled");
				$("#estadoOTDTH").removeAttr("disabled");
				$("#observacionOTDTH").removeAttr("disabled");
			}
			else if(table.rows('.selected').data().length > 1){
				$("#agendarOTDTH").attr("disabled","disabled");
				$("#asignarDespachoOTDTH").removeAttr("disabled");
				$("#asignarTecnicoOTDTH").removeAttr("disabled");
				$("#estadoOTDTH").removeAttr("disabled");
				$("#observacionOTDTH").attr("disabled","disabled");
			}
			else{
				$("#agendarOTDTH").attr("disabled","disabled");
				$("#asignarDespachoOTDTH").attr("disabled","disabled");
				$("#asignarTecnicoOTDTH").attr("disabled","disabled");
				$("#estadoOTDTH").attr("disabled","disabled");
				$("#observacionOTDTH").attr("disabled","disabled");
			}
		},200);
	});
</script>
