<div>
  <div style="margin-bottom: 10pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-user-friends">&nbsp;&nbsp;OT asignadas</span>
		</font>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
		<div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 style="font-weight: bold;"></h5>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
    		<span class="labelComun">Fecha</span>
    		<input id="fechaLina" class="form-control" type="text" value="" onfocus="blur();">
      </div>
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
        <b class="fa fa-circle" style="color: #ffb600; font-size: 10pt; margin-top: 30pt;"></b>&nbsp;&nbsp;<span style="margin-right: 10pt; margin-top: 30pt;">Asignada</span>
        <b class="fa fa-circle" style="color: #00b9ff; font-size: 10pt; margin-top: 30pt;"></b>&nbsp;&nbsp;<span style="margin-right: 10pt; margin-top: 30pt;">Despachada</span>
        <b class="fa fa-circle" style="color: #007cff; font-size: 10pt; margin-top: 30pt;"></b>&nbsp;&nbsp;<span style="margin-right: 10pt; margin-top: 30pt;">En trabajo</span>
        <b class="fa fa-circle" style="color: #17ff00; font-size: 10pt; margin-top: 30pt;"></b>&nbsp;&nbsp;<span style="margin-right: 10pt; margin-top: 30pt;">Liquidada</span>
      </div>
    </div>
  </div>
  <div id="linea" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
		<div id="timeline">
		</div>
  </div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
