<script type="text/javascript">
  // $("div.sub-menu li").css("display","block");
  // $(".contenedor-logos").show();
  $("#iconoLogoMenu").hover(
    function() {
      $("#iconoLogoMenu").addClass("blink_me");
    }, function() {
      $("#iconoLogoMenu").removeClass("blink_me");
    }
  );

  $("#logoMenu").unbind("click").click(async function(){
    $("#logoLinkWeb").hide();
    $("#logoMenu").hide();
    if($("#menu-lateral").width() > 100){
      //Cierra todo
      $("div.sub-menu").parent().css("height", "45px");
      $("div.sub-menu").parent().css("background","rgba(30, 0, 0, 0.0)");
      $("div.sub-menu").fadeOut();
      $("div.sub-menu").parent().find("p").css("color", "white");

      $("#menu-lateral").css("width","45px");
      $("#menu-lateral").css("background","rgba(30, 0, 0, 0.0)");
      $("#logoMenu").css("color","black");
      $("#iconoLogoMenu").css("border","1px solid #b5b5b5");
      $("#iconoLogoMenu").css("background","rgba(255, 255, 255, 1.0)");
      $("#lineaMenu").fadeOut();
      $(".contenedor-logos").css("display","none");
      $(".contenedor-logos").find('li').css("display","none");
      $("#logoMenu").fadeIn();
      $("#iconoLogoMenu").attr("class","imgMenu fas fas fa-bars");
    }
    else{
      $("#menu-lateral").css("width","200px");
      $("#menu-lateral").css("background","#003865");
      $("#logoMenu").css("color","white");
      $("#iconoLogoMenu").css("border","0px");
      $("#iconoLogoMenu").css("background","rgba(255, 255, 255, 0.0)");
      $("#logoLinkWeb").hide();
      $("#logoMenu").hide();
      if($("#sesionActiva").val() == 1){
        $(".contenedor-logos").css("display","block");
        $(".contenedor-logos").find('li').css("display","block");
        $("#lineaMenu").fadeIn();
        $("#logoLinkWeb").fadeIn();
        $("#logoMenu").fadeIn();
        $("#iconoLogoMenu").attr("class","imgMenu fas fa-times");
        $("#regresarMenu").css("display","none");
      }
    }
  });
</script>


<div id="logo-menu">
  <a id="logoLinkWeb" class="title-menu" href="http://e-gestiontech.cl">
    <img src="view/img/logo-e-w.png" style="width: 130px;">
  </a>
  <span id="logoMenu" class="logo2">
    <span id="iconoLogoMenu" class="imgMenu fas fas fa-bars"></span>
  </span>
</div>

<div>
  <hr id="lineaMenu" style="display: none; background-color: #FFFFFF; width: 95%; height: 1px;">
</div>

<div id="DivPrincipalMenu">
</div>
