<div class="row cuerpo">
	<div style="text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-map-marker-alt">&nbsp;&nbsp;Areas Funcionales</span>
		</font>
  </div>
	<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
		<label class="labelComun">Opera</label>
		<select id="operaAreaFuncional" class="form-control" title="Mano de obra">
		</select>
  </div>
	<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
		<label class="labelComun">Región</label>
		<select id="regionAreaFuncional" class="form-control" title="Mano de obra">
		</select>
  </div>
	<div id="divTablaAreaFuncional" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaAreaFuncional" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Comuna" >Comuna</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Región" >Región</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Opera" >Opera</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Opera" >Opera</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="idareafuncional" >idareafuncional</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaAreaFuncional" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="aplicarAreaFuncional">
			<span class="fas fa-check-double"></span>&nbsp;&nbsp;Con operación
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="quitarAreaFuncional">
			<span class="fas fa-times"></span>&nbsp;&nbsp;Sin operación
		</button>
	</div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
//Para interactuar con la tabla de productos
	$('#tablaAreaFuncional tbody').on( 'click', 'tr', function () {
			var table = $('#tablaAreaFuncional').DataTable();
			setTimeout(function(){
				if(table.rows('.selected').data().length > 0){
					$("#aplicarAreaFuncional").removeAttr("disabled");
					$("#quitarAreaFuncional").removeAttr("disabled");
				}
				else{
					$("#aplicarAreaFuncional").attr("disabled","disabled");
					$("#quitarAreaFuncional").attr("disabled","disabled");
				}
			},100);
	});
</script>
