<div class="row cuerpo">
	<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
			<span style="color: gray;" class="fas fa-user-friends">&nbsp;&nbsp;Personal</span>
		</font>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Mano de obra</label>
		<select id="manoPersonal" class="form-control" title="Mano de obra">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
		<label class="labelComun">Función</label>
		<select id="funcionPersonal" class="form-control" title="Mano de obra">
		</select>
  </div>
	<div style="margin-bottom: 20pt; text-align: left;" class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<label class="labelComun">Comuna asignada</label>
		<select id="comunaSelectPersonal" class="form-control" title="Mano de obra">
		</select>
  </div>
	<div id="divTablaPersonal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
	  <table id="tablaPersonal" class="cell-border compact" style="width: 100%;">
	    <thead>
	      <tr>
					<th class="celdaColor" style="border: 1pt solid white;" title="Selección">S</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="DNI" >DNI</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Nombre completo" >Nombre</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Función" >Función</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Tipo clasificación" >Tipo</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Empresa" >Empresa</th>
	        <th class="celdaColor" style="border: 1pt solid white;" title="Comunas asignadas" >Comunas asignadas</th>
	      </tr>
	    </thead>
	    <tbody id="cuerpoTablaPersonal" style="text-align: left;">

	    </tbody>
	  </table>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button class="form-control btn btn-secondary botonComun" id="agregarPersonal">
			<span class="fas fa-user-plus"></span>&nbsp;&nbsp;Agregar
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="editarPersonal">
			<span class="fas fa-user-edit"></span>&nbsp;&nbsp;Editar
		</button>
	</div>
	<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<button disabled class="form-control btn btn-secondary botonComun" id="comunaPersonal">
			<span class="fas fa-map-marked-alt"></span>&nbsp;&nbsp;Asignar Comuna
		</button>
	</div>
</div>
<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<script>
//Para interactuar con la tabla de productos
	$('#tablaPersonal tbody').on( 'click', 'tr', function () {
			var table = $('#tablaPersonal').DataTable();
			if ( $(this).hasClass('selected') ) {
				$("#editarPersonal").attr("disabled","disabled");
				$("#comunaPersonal").attr("disabled","disabled");
			}
			else {
				$("#editarPersonal").removeAttr("disabled");
				$("#comunaPersonal").removeAttr("disabled");
			}
	});
</script>
